*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f0f0f;
color:white;
}

/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 40px;

background:#111;

}

.logo{
color:red;
font-size:30px;
}

#search{

padding:12px 20px;

border:none;

border-radius:30px;

width:250px;

}

/* GENRES */

.genres{

display:flex;
justify-content:center;
gap:20px;

padding:30px;

flex-wrap:wrap;

}

.genres button{

padding:12px 20px;

border:none;

border-radius:20px;

background:red;

color:white;

cursor:pointer;

}

/* MOVIES */

.movies{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:30px;

padding:40px;

}

.movie-card{

background:#1b1b1b;

border-radius:20px;

overflow:hidden;

transition:0.3s;

}

.movie-card:hover{

transform:scale(1.05);

}

.movie-card img{

width:100%;
height:350px;

object-fit:cover;

}

.movie-info{

padding:20px;

}

.movie-info h3{

margin-bottom:10px;

}

.movie-info p{

margin-bottom:10px;

color:#ccc;

}

.movie-info button{

width:100%;

padding:12px;

border:none;

background:red;

color:white;

border-radius:10px;

cursor:pointer;

}